# Python-related
*.pyc
__pycache__/
venv/
*.env

# Flask-related
instance/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment-specific files
.env
.env.*

# Log files
*.log

# Ignore Blender files
/*.blend
/*.blend1

# Miscellaneous
*.pyo
*.swp
.DS_Store